[200~ filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-14.dylib filter=lfs diff=lfs merge=lfs -text
Assets/Macros/Player.asset filter=lfs diff=lfs merge=lfs -text
Assets/Macros/Player.asset.meta filter=lfs diff=lfs merge=lfs -text
Assets/Unity.VisualScripting.Generated.meta filter=lfs diff=lfs merge=lfs -text
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow.meta filter=lfs diff=lfs merge=lfs -text
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta filter=lfs diff=lfs merge=lfs -text
Library/Bee/fullprofile.json filter=lfs diff=lfs merge=lfs -text
Library/EditorInstance.json filter=lfs diff=lfs merge=lfs -text
ProjectSettings/VisualScriptingSettings.asset filter=lfs diff=lfs merge=lfs -text
Temp/FSTimeGet-bbfd738211999df42888ac932a1be2d0 filter=lfs diff=lfs merge=lfs -text
Assets/Player.prefab.meta filter=lfs diff=lfs merge=lfs -text
Temp/FSTimeGet-a1582a960aa06ff429511a4945b9e034 filter=lfs diff=lfs merge=lfs -text
Assets/Graphics/Player.meta filter=lfs diff=lfs merge=lfs -text
Assets/Player.prefab filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Third filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Array.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Smoothen.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Tessellator.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Tests.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Tests/Editor/PlaceholderTests.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Tests/Editor/PlaceholderTests.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Tests/Editor/Unity.2D.Common.EditorTests.asmdef.meta filter=lfs diff=lfs merge=lfs -text
Notices.md.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageManager/ProjectCache filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/Unity.2D.Common.Runtime.asmdef filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/PlanarGraph.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Smoothen.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/UTess.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Array.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/ArraySlice.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Tests/Editor.meta filter=lfs diff=lfs merge=lfs -text
Notices.md filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/InternalBridge/InternalEngineBridge.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/PlanarGraph.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Tests/Editor/Unity.2D.Common.EditorTests.asmdef filter=lfs diff=lfs merge=lfs -text
Party filter=lfs diff=lfs merge=lfs -text
ProjectSettings/TagManager.asset filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/Unity.2D.Common.Runtime.asmdef.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/ArraySlice.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Refinery.cs filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Refinery.cs.meta filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.2d.common@6.0.6/Runtime/UTess2D/Tessellator.cs.meta filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
all filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Assets/Graphics/Player/Character_Dismanteled_Model.png.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/Testes.unity filter=lfs diff=lfs merge=lfs -text
Temp/FSTimeGet-dc35a9877941d224f86041ea8a576642 filter=lfs diff=lfs merge=lfs -text
ProjectSettings/URPProjectSettings.asset filter=lfs diff=lfs merge=lfs -text
